@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<img src="~/images/BuckingBronco.png" alt"Bucking Bronco Logo" />
<h1 class="text-danger">Whoops partner, you just got bucked off by an <b>error</b>!</h1>
